/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #121212;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter V", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.dark-background {
  background-color: rgba(18, 18, 18, 1);
}

/* Firefox old*/
@-moz-keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* IE */
@-ms-keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* Opera and prob css3 final iteration */
@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.flashing-image {
  -moz-animation: flashing normal 2s infinite ease-in-out; /* Firefox */
  -webkit-animation: flashing normal 2s infinite ease-in-out; /* Webkit */
  -ms-animation: flashing normal 2s infinite ease-in-out; /* IE */
  animation: flashing normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

@media (max-width: 768px) {
  nav {
    z-index: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 50%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
  nav::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    height: 20px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.overlaycontrol::before {
  margin-left: 12.8rem !important;
}

.custom-border-bottom {
  border: 1px solid rgba(39, 39, 42, 0.8) !important;
  border-top: none !important;
  border-left: none !important;
}

.custom-border-top {
  border-color: rgba(39, 39, 42, 0.8) !important;
  border: 1px solid;
  border-bottom: none !important;
  border-left: none !important;
}

.custom-top-inner-shadow {
  mask-image: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) -1%,
    #d9d9d9 7.34%,
    #d9d9d9 25%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) -1%,
    #d9d9d9 7.34%,
    #d9d9d9 25%
  );
}

.custom-bottom-inner-shadow {
  mask-image: linear-gradient(
    to bottom,
    #d9d9d9 87.87%,
    rgba(217, 217, 217, 0) 96.94%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    #d9d9d9 87.87%,
    rgba(217, 217, 217, 0) 96.94%
  );
}

.custom-top-bottom-inner-shadow {
  mask-image: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) -1%,
    #d9d9d9 7.34%,
    #d9d9d9 25%,
    #d9d9d9 87.87%,
    rgba(217, 217, 217, 0) 96.94%
  );

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) -1%,
    #d9d9d9 7.34%,
    #d9d9d9 25%,
    #d9d9d9 87.87%,
    rgba(217, 217, 217, 0) 96.94%
  );
}

.vanishing-shadow {
  overflow: auto;
  max-height: calc(100vh - 11.25rem);
  background: /* Shadow covers */ linear-gradient(
      white 30%,
      rgba(18, 18, 18, 1)
    ),
    linear-gradient(rgba(18, 18, 18, 1), white 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        50% 0,
        farthest-side,
        rgba(18, 18, 18, 1),
        rgba(18, 18, 18, 1)
      ),
    radial-gradient(
        50% 100%,
        farthest-side,
        rgba(18, 18, 18, 1),
        rgba(18, 18, 18, 1)
      )
      0 100%;
  background: /* Shadow covers */ linear-gradient(
      rgba(18, 18, 18, 1) 30%,
      /* Darker color for shadow fade */ rgba(18, 18, 18, 1)
    ),
    linear-gradient(rgba(18, 18, 18, 1), rgba(18, 18, 18, 1) 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(255, 255, 255, 0.2),
        /* Subtle highlight for dark background */ rgba(18, 18, 18, 1)
      ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(255, 255, 255, 0.2),
        rgba(18, 18, 18, 1)
      )
      0 100%;
  background-repeat: no-repeat;
  background-color: rgba(18, 18, 18, 1);
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

/* use the same shadow for details list section */
.vanishing-shadow.details-list {
  max-height: 100%;
}

/* mobile dialog box for activity details  */

@keyframes expand {
  0% {
    max-height: 0;
    opacity: 0;
  }
  /* 50% {
    max-height: 0;
    opacity: 0;
  } */
  100% {
    max-height: 500px;
    opacity: 1;
  }
}
div[role="dialog"] {
  max-height: 500px;
  opacity: 0;
  /* Styles for the parent element */
  background-color: #121212 !important;
}

div[role="dialog"].info-window-animation {
  animation: 0.1s expand 0.3s ease-out;
  animation-fill-mode: forwards;
  overflow: hidden;
  /* opacity: 1; */
  max-height: 500px;
  max-width: 100vw !important;
  padding-left: 0 !important;
}

.gm-style .gm-style-iw {
  font-size: 1rem !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar {
  display: none;
}

.gm-style .gm-style-iw-tc::after {
  background-color: rgba(17, 24, 39, 1) !important;
}

div[role="dialog"] button[title="Close"] {
  display: none !important;
}
